.DS_Store


# Build Related
rrga/.gradle/
rrga/.idea/
rrga/desktop/build/
rrga/core/build/

# Build Artifact Related
rrga/desktop/out/
rrga/core/resources/
rrga/out/
rrga/.idea/misc.xml
rrga/core/resource/META-INF/MANIFEST.MF
